@model ClinicaMedicalaV20.Models.Date_senzori

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Date_senzori</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDPacient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDPacient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecventaCardiaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecventaCardiaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Umiditate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Umiditate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperaturaMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperaturaMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECG_pWave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECG_pWave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECG_qrsWave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECG_qrsWave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECG_tWave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECG_tWave)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
