@model ClinicaMedicalaV20.Models.Date_medicale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Date_medicale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDPacient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDPacient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IstoricMedical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IstoricMedical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultatiiCardiologice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultatiiCardiologice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
